:root {
  --headerfooterBgColor: #c7322e;
  --mainBgColor: rgb(246, 246, 246);
}

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/*********************************NAVBAR STYLES*********************************/
nav {
  background-color: var(--headerfooterBgColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  background: #fff;
  color: var(--headerfooterBgColor);
  border: 2px solid #fff;
  padding: 5px 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  margin-right: 5px;
}

#logo {
  height: 11vh;
  margin-left: 20px;
  border-radius: 5px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 10px;
}

nav ul li {
  list-style: none;
  margin: 0px 15px;
  color: white;
  font-size: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

#menu-items {
  width: fit-content;
  height: fit-content;
  position: absolute;
  display: block;
  background-color: black;
  color: white;
  right: 43vw;
  top: 8vh;
  z-index: -1;
}

.username {
  color: #fff;
}

.auth {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 540px) {
  nav ul li {
    font-size: 14px;
  }

  #logo {
    height: 8vh;
    margin: 0;
  }
}

/********************HOME PAGE STYLES (INCLUDING CAKE CARD)********************/
.card {
  position: relative;
  margin: 25px;
  background-color: white;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgb(188, 188, 188);
  box-sizing: content-box;
  text-align: center;
  width: 20vw;
}

/* .card :hover{
  transform: scaleX(1.1) scaleY(1.1);
} */

.allCakes {
  margin: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.comment-icon {
  position: relative !important;
  left: 70px !important;
  top: 10px;
  font-size: 20px;
  color: black;
}

.comment {
  margin: 10px;
}

.card-img-top {
  width: 20vw !important;
  height: 30vh !important;
  border-radius: 3px 3px 0px 0px;
}

.review-text {
  font-size: 10px;
}

/********************************ALL FORM STYLES********************************/
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

input, textarea, select{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem !important;
}

.add-cake-form, .order-form{
  width: 35vw;
  margin: 20px auto;
}

#min, #max{
  width: 8.5vw !important;
  margin: 10px !important;
}

.price-filter{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/*******************************ALL BUTTON STYLES*******************************/
.btn {
  margin-top: 10px;
  background-color: var(--headerfooterBgColor) !important;
  border: 0px;
}

.btn:hover {
  background-color: var(--headerfooterBgColor) !important;
}

.delete-btn {
  color: white !important;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}

form button {
  background: var(--headerfooterBgColor) !important;
  border: 0;
  color: #fff !important;
  padding: 10px;
  /* font-family: "Poppins"; */
  border-radius: 4px;
  cursor: pointer;
}

.add-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: sticky;
  bottom: 25px;
}

.add-btn {
  text-align: center;
  font-size: 30px;
  position: sticky;
  width: 40px;
  height: 40px;
  right: 25px;
  background: var(--headerfooterBgColor);
  border-radius: 50%;
  z-index: 1;
}

.fa-plus {
  font-weight: lighter !important;
  text-decoration: none;
  color: white
}

/******************************CONTACT PAGE STYLES******************************/
.contact {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin: 10px;
}

#map-id {
  height: 50vh;
  width: 45vw;
  margin: 5px auto;
}

.contact-details {
  margin: 5px 0px;
  width: 45vw;
  color: var(--headerfooterBgColor);
  background-color: white;
  border: 1px solid var(--headerfooterBgColor);
  border-radius: 5px;
  padding: 15px;
}

.contact-details ul {
  margin: 10px 0px;
}

.generalContact li {
  margin: 15px 0px;
  list-style: none;
}

.social {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1vw;
  right: 21vw;
}

.social li {
  list-style: none;
  margin: 0px 5px;
}

.social li a {
  text-decoration: none;
  color: var(--headerfooterBgColor);
}

@media screen and (max-width: 690px) {
  .contact {
    flex-direction: column;
  }

  #map-id {
    display: block;
    height: 40vh;
    width: 95vw;
    margin: 5px auto;
  }

  .contact-details {
    /* display: block; */
    width: 95vw;
    height: 40vh;
    margin: 5px auto;
    /* overflow-wrap: break-word; */
    box-sizing: border-box;
  }

  .social {
    right: 39vw;
  }
}

@media screen and (max-width: 540px) {
  .contact {
    margin: 0;
  }
}

.map {
  margin: 0;
}

.contact-details {
  margin: 5px auto;
  font-size: 70%;
}

/*********************************FOOTER STYLES*********************************/
#footer {
  background-color: var(--headerfooterBgColor);
  margin-top: 2%;
  position: relative;
  z-index: 2;
}

.main-footer {
  padding: 2% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-footer ul {
  list-style: none;
}

.main-footer p {
  font-size: medium;
  color: #ffffff;
}

.main-footer h1 {
  font-size: 22px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}

.main-footer h2 {
  color: #ffffff;
  font-weight: 500;
}

.main-footer ul li a {
  color: #ffffff;
  text-decoration: none;
}

.address {
  color: #f1f1f1;
  width: 30vw;

}

footer {
  font-size: 17px;
  padding-bottom: 1%;
  color: #ffffff;
  text-align: center;
}

.contactDetails {
  margin-top: 10px;
}

.address {
  margin-top: 5px;
}

.contactDetails li {
  list-style: none;
  margin: 10px 0;
}

.contactDetails li a {
  text-decoration: none;
  color: #f1f1f1;
}

.contactDetails .fa {
  color: #f1f1f1;
  margin-right: 10px;
}

.sociallogos {
  padding: 20px 0;
}

.sociallogos .logobox a {
  padding: 0 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}

.com ul {
  padding: 0px !important;
}

.com ul li {
  padding: 5px 0;
}

.comment-list {
  margin: 20px auto;
  width: 40vw;
}

@media only screen and (max-width: 749px) {
  .main-footer {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .info {
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
  .main-footer {
    grid-template-columns: 1fr;
  }

  .sociallogos {
    padding: 20px 0;
  }

  .com {
    padding: 20px 0;
  }

}